
body{
    background: linear-gradient(#1056aa, #e9e2d1);
    font-family: 'Oxygen', sans-serif;
    font-weight: lighter;
    margin-bottom: 3px;
}
h1{
    font-family: 'Nunito Sans';
    font-size: 50px;
    text-align: center;
    margin-left: 260px;
}

#head_logo{
    display: flex;
    flex-direction: row;
}
#logo_vegeteau{
    width: 120px;
    height: auto;
}

footer{
    margin-top: 15px;
}

#button{
    background-color: #086caa;
    border: none;
    color: white;
    padding: 17px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin-right: 9px;
}


#graph{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

#formulaire{
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}

#params{
    margin-right: 30px;
}

header{
    margin-bottom: 20px;
}

label{
    font-size: 20px;
}